<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a th:href="@{/}" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a th:href="@{/users}" class="nav-link">Chat History</a></li>
            <li class="nav-item"><a th:href="@{/users}" class="nav-link">All Users</a></li>
            <li class="nav-item">
                <form th:action="@{/logout}" method="post">
<!--                    <p>-->
<!--                        Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>.-->
<!--                    </p>-->
                    <input class="btn btn-danger" type="submit" value="Logout" />
                </form>
            </li>
        </ul>
    </header>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>