<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
  <div class="container text-center">
<!--    <h1>BzzChat</h1>-->
<!--    <h3><a th:href="@{/users}">List of Users</a></h3>-->
<!--    <h3><a th:href="@{/register}">Register</a></h3>-->
<!--    <h3><a th:href="@{/login}">Login</a></h3>-->
<!--  </div>-->
  <main>
    <div class="container py-4">
      <header class="pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <span class="fs-4">BzzChat</span>
        </a>
      </header>

      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Welcome to the BzzChat</h1>
          <br>
          <p class="col-md-12 fs-4">This BzzChat contains the BzzBot that will have a conversation with you.</p>
          <h3><a class="btn btn-primary btn-lg" th:href="@{/register}">Click to Register</a></h3>
        </div>
      </div>

      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Are you a user?</h2>
            <p>There are 2 kinds of users; admins and standard users.</p>
            <p>Admins are able to see all conversation history.</p>
            <p>Standard users can talk with BzzBot.</p>
            <h3><a class="btn btn-outline-light" th:href="@{/login}">Click to Login</a></h3>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Are you logged in?</h2>
            <br>
            <h3><a class="btn btn-outline-light" th:href="@{/dashboard}">Go to Dashboard</a></h3>
          </div>
        </div>
      </div>

      <footer class="pt-3 mt-4 text-muted border-top">
        Eyüp Barlas - BzzChat - HCL Capstone Project
      </footer>
    </div>
  </main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>