<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container text-center">
    <div>
        <h1>Sign Up to BzzChat</h1>
    </div>
    <div class="col-12">
        <form th:action="@{/register_process}" th:object="${user}"
              method="post">
            <div class="mb-3">
                <div class="form-group row">
                    <label class="col-4 col-form-label">E-mail: </label>
                    <div class="col-8">
                        <label>
                            <input type="email" id="email" name="email" th:field="*{email}" class="form-control" required />
                        </label>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">Password: </label>
                    <div class="col-8">
                        <label>
                            <input type="password" th:field="*{password}" class="form-control"
                                   required minlength="6" maxlength="10"/>
                        </label>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">First Name: </label>
                    <div class="col-8">
                        <label>
                            <input type="text" th:field="*{firstName}" class="form-control"
                                   required minlength="2" maxlength="20"/>
                        </label>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">Last Name: </label>
                    <div class="col-8">
                        <label>
                            <input type="text" th:field="*{lastName}" class="form-control"
                                   required minlength="2" maxlength="20" />
                        </label>
                    </div>
                </div>
                <div class="form-check">
                    <label>USER<input type="radio" class="form-control" name="role"  value="ROLE_USER" /></label>
                    <label>ADMIN<input type="radio" class="form-control" name="role"  value="ROLE_ADMIN" /></label>
                </div>

                <input
                        type="hidden"
                        th:name="${_csrf.parameterName}"
                        th:value="${_csrf.token}" />

                <div>
                    <br>
                    <button type="submit" class="btn btn-success">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>